h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
    text-decoration:overline underline;
}
p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
}
ul {
    background-color: aquamarine;
    line-height: 200%;
}
.fundo-parag {
    background-color: burlywood;
}
body {
    font-size: 16px;
}
#amarelo {
    background-color: yellow;
}
#vermelho{
    background-color: red;
}
#marrom{
    background-color: saddlebrown;
}
