ol li{
    background-color: yellow;
}
/*aqui nesse segundo ,eu ia usar gambi com classes mas resolvi checar o gabarito e estava assim:*/
ol li:nth-child(even){
    color:green
}
ol li:nth-child(odd){
    text-transform:uppercase;
}
h1, h2 {
    color: red;
}
h1 em, h2 em{
    font-size: 40px;
    border: 1px solid black;
}
li {
    font-size: 20px;
}
li em{
    font-weight: 700;
}
/*gente, nunca que eu ia saber dessa função (n+4)kkkk"*/
#linguagens li:not(:nth-child(n+4)) {
    color:blue;
}
.fundoRosa{
    background-color: pink;
}
#tematica li a:hover{
    font-weight: 700;
}
#tematica li a[href*="stackoverflow"]{
    color:orange;
}
#tematica li a[href*="w3schools"]{
    color: green;
}
#tematica li a[href*="mozilla"]{
    color:black;
}
#tematica li a[href*="devdocs"]{
    color: yellow;
}
#tematica li a[href*="trybe"]{
    color:green;
}
